<%# Partial head.ejs: contains opening <html>, <head> and opening <body> tags %>
    <%- include('partials/head') %>

    <%- include('partials/header') %>

    <section class="container postit-page">
        <h1>Postitused</h1>
         
            <% if (posts.length > 0) %>
            <% posts.forEach(post => { %>

                <%- include('partials/articles', {post: post}) %>
              
            <% }) %>
            </section>

    <%- include('partials/footer') %>
<script>
    document.querySelectorAll('.like-image').forEach(item => {
        item.addEventListener('click', (e) => {
            const endpoint = `/posts/${item.dataset.like}`;
                fetch(endpoint, {
                method: 'PUT',
            }).then(response => {
                item.nextElementSibling.textContent = parseInt(item.nextElementSibling.textContent) + 1
                item.style.opacity = "0.5"
            })
        },{
            once: true
        })
    })
</script>
<%# Partial page_end.ejs: contains ending <body> and <html> tags and front_end javascript %>
<%- include('partials/page_end') %>