<%# Partial head.ejs: contains opening <html>, <head> and opening <body> tags %>
    <%- include('partials/head') %>

    <%- include('partials/header') %>

    <div class="posts list">
        <h1>Postitused</h1>
         
            <% if (posts.length > 0) %>
            <% posts.forEach(post => { %>
                <h3 class="title">
                    <%= post.title %>
                </h3>
                <p class="body">
                    <%= post.sisu %>
                </p>
            <% }) %>
    </div>

    <%- include('partials/footer') %>

<%# Partial page_end.ejs: contains ending <body> and <html> tags %>
<%- include('partials/page_end') %>