<%# Partial head.ejs: contains opening <html>, <head> and opening <body> tags %>
    <%- include('partials/head') %>

    <%- include('partials/header') %>

    <section class="container postit-page">
        <h1>Postitus - <%= post.caption %></h1>

                <%- include('partials/article', {post: post}) %>
              
    </section>

    <%- include('partials/footer') %>
<script>
    const delreq = document.querySelector('button.delete');
    delreq.addEventListener('click', (e) => {
    const endpoint = `/posts/${delreq.dataset.del}`;
    fetch(endpoint, {
    method: 'DELETE',
    }).then(window.location.href = '/posts')
    });
</script>
<%# Partial page_end.ejs: contains ending <body> and <html> tags and front_end javascript %>
<%- include('partials/page_end') %>